<div>Welcome to The board</div>
<div>Hello <%= @name %></div>
 <!-- <%= @board.inspect %> -->

<form action="/board" method="post">
      <question>What size board do you want to play on?</question>
      <input type="text" name="board_size">
      <input type="submit" value="submit" name="submit">
</form>