<div>Welcome to Battleships</div>
<%= @name %>
<form action="/" method="post">
      <question>What's your name?</question>
      <input type="text" value="player name" name="player_name">
      <input type="submit" value="submit" name="submit">
</form>
<!-- <div>
  <a href="/Play">"New Game"</a>
</div> -->
