<div>Welcome to Battleships</div>
<%= @name %>
<form action="/" method="post">
      <question>What's your name?</question>
      <input type="text" name="player_name">
      <br>
      <question>What board size would you like?</question>
      <input type="text" name="board_size">
      <input type="submit" value="submit" name="submit">
</form>

